<!DOCTYPE html>
<html lang="en" xmlns:th="http://www,thymeleaf.org">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="/styles.css" rel="stylesheet" />
<head>
    <meta charset="UTF-8">
    <title>Codefellowship</title>
</head>
<body>

<div th:replace="fragments/header :: header">...</div>


<p>CodeFellowship allows people learning to code to connect with each other and support each other on their coding journeys.

</p>

</body>
</html>