<!DOCTYPE html>
<html lang="en" xmlns:th="http://www,thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Feed</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="/styles.css" rel="stylesheet" />
</head>
<body>

<div th:replace="fragments/header :: header">...</div>

<h2>Feed</h2>
<ul class="feed-list">
    <li th:each="post : ${posts}">
        <span th:text="${post.createdAt}"></span>
        <span th:text="${post.body}"></span>

        <a th:href="@{'/users/' + ${post.appUser.id}}">
            <span th:text="${post.appUser.firstname}"></span>
            <span th:text="${post.appUser.lastname}"></span>
        </a>
    </li>
</ul>

</body>
</html>