<!DOCTYPE html>
<html lang="en" xmlns:th="http://www,thymeleaf.org">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="/styles.css" rel="stylesheet" />
<head>
    <meta charset="UTF-8">
    <title>My Profile</title>
</head>
<body>

<div th:replace="fragments/header :: header">...</div>

<h1>My Profile</h1>

<h2>Hello, <span th:text="${appUser.firstname}"></span></h2>


<h1>Username: <span th:text="${appUser.username}"></span></h1>
<!--        <img th:src="@{${add an image url here}}" th:width="300"/>-->

<p>First Name: <span th:text="${appUser.firstname}"></span></p>
<p>Last Name: <span th:text="${appUser.lastname}"></span></p>
<p>Date of Birth: <span th:text="${appUser.dob}"></span></p>
<p>Bio: <span th:text="${appUser.bio}"></span></p>

<div th:replace="fragments/post :: post">...</div>

<ul>
    <li th:each="post : ${appUser.posts}">
        <p><span th:text="${post.createdAt}"></span></p>
        <p><span th:text="${post.body}"></span></p>
    </li>
</ul>


</body>
</html>