<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<body>

<h2>Sign Up</h2>

<form method="POST" action="/users">
    <p><label for="username">Username:</label><input name="username" id="username"/></p>
    <p><label for="password">Password:</label><input type="password" name="password" id="password" /></p>
    <p><label for="firstname">First Name:</label><input name="firstname" id="firstname" /></p>
    <p><label for="lastname">Last Name:</label><input name="lastname" id="lastname" /></p>
    <p><label for="dob">Date of Birth:</label><input type="date" name="dob" id="dob" /></p>
    <p><label for="bio">Bio:</label><textarea name="bio" id="bio" rows="10" cols="30"></textarea></p>

    <input type="submit" />
</form>

</body>
</html>